name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0

      - name: Generate Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: "CHANGELOG.md"

      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: "3.12"

      - name: Install uv
        run: python -m pip install --upgrade pip uv

      - name: Install dependencies
        run: uv sync --extra release --python 3.12

      - name: Build package
        run: uv build --sdist --wheel --outdir dist

      - name: Install cosign
        uses: sigstore/cosign-installer@v2
        with:
          cosign-release: v2.2.3

      - name: Sign artifacts
        env:
          COSIGN_EXPERIMENTAL: "1"
        run: |
          for file in dist/*.{whl,gz}; do
            cosign sign-blob --yes "$file" --output-signature "$file.sig"
          done

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.9.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Generate SLSA provenance
        uses: slsa-framework/slsa-github-generator@v1
        with:
          attestation_subject_path: "dist/*.whl"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2.0.6
        with:
          body: ${{ steps.changelog.outputs.changelog }}
          files: |
            dist/*.whl
            dist/*.tar.gz
            dist/*.sig
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
